
<h1 class="h1">Who are you ? </h1>

<hr>

<div class="container p1">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <%= link_to "I am Customer", new_customer_session_path, class:"btn btn-lg btn-primary" %>
      </div>      
    </div>

    <div class="col-md-4">
      <div class="card">
        <%= link_to "I am Bussinessman", new_bussinessman_session_path, class:"btn btn-lg btn-primary" %>
      </div>      
    </div>
  </div>
</div>

<h4 style="margin-left: 25%"> Join with us to build your brand online now </h3>